@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>菜单功能</title>
    <link href="/Assets/layui/css/layui.css" rel="stylesheet" />
    <link href="/Assets/css/animate.min.css" rel="stylesheet" />
    <link href="/Assets/css/iconfont.css" rel="stylesheet" />
    <style>
        .layui-table {
            width: 100% !important;
        }

        .zadmin-blue {
            color: #1E90FF;
        }
    </style>
</head>
<body class="animated fadeIn">
    <div class="page-loading">
        <div class="rubik-loader"></div>
    </div>
    <div class="layui-row">
        <div class="layui-card">
            <div class="layui-card-body">
                <table class="layui-hide" id="menu-table"></table>
            </div>
        </div>
    </div>
    <input type="hidden" id="menu_id" value="@ViewBag.id" />
    <script type="text/html" id="toolbar">
        <button type="button" class="layui-btn layui-btn-xs layui-btn-normal" lay-event="add">
            <i class="zadmin-icon zadmin-icon-xinzeng zadmin-oper-area"></i>
            新增
        </button>
    </script>
    <script type="text/html" id="column-toolbar">
        <button lay-event="edit" class="layui-btn layui-btn-xs" type="button">
            <i class="zadmin-icon zadmin-icon-edit-square zadmin-oper-area"></i>
            编辑
        </button>
        <button lay-event="del" class="layui-btn layui-btn-xs layui-btn-danger" type="button">
            <i class="zadmin-icon zadmin-icon-delete zadmin-oper-area"></i>
            删除
        </button>
    </script>
    <script src="/Assets/js/jquery.js"></script>
    <script src="/Assets/layui/layui.js"></script>
    <script src="~/Assets/js/common.js"></script>
    <script>
        layui.config({
            base: '/Assets/layui/extend/'
        }).use(['jquery', 'layer', 'table', 'element', 'tablePlug'], function () {
            var layer = layui.layer;
            var table = layui.table;
            var tablePlug = layui.tablePlug;

            tablePlug.smartReload.enable(true);

            table.render({
                elem: '#menu-table'
                , url: '/Config/MenuFuntion/GetData'
                , where: {
                    menu_id: $("#menu_id").val()
                }
                , cellMinWidth: 80
                , toolbar: '#toolbar'
                , defaultToolbar: []
                , smartReloadModel: true
                , cols: [
                    [
                        { type: 'numbers', title: '序号', align: 'center', width: "5%" }
                        , { field: 'id', title: 'ID', align: 'center', hide: true }
                        , { field: 'name', title: '功能名称', align: 'center', width: "35%" }
                        , { field: 'introduce', title: '功能介绍', align: 'center', width: "35%" }
                        , { title: '操作', align: 'center', toolbar: '#column-toolbar' }
                    ]
                ]
            });

            table.on('toolbar', function (obj) {
                var event = obj.event;
                if (event === 'add') {
                    add();
                }
            });

            table.on('tool', function (obj) {
                var data = obj.data;
                if (obj.event === 'edit') {
                    edit(data.id);
                } else if (obj.event === 'del') {
                    del(data.id);
                }
            });

            function refresh() {
                table.reload("menu-table");
            }

            function del(id) {
                layer.confirm("你确定删除此菜单功能吗？", { icon: 3, title: '提示' }, function (index) {
                    $.post('/Config/MenuFuntion/Delete?id=' + id, function (data) {
                        if (data.code == 0) {
                            layer.msg(data.msg, { icon: 6 });
                            refresh();
                        } else {
                            layer.msg(data.msg, { icon: 5 });
                        }
                    }, 'json');
                }, function (index) {
                    layer.close(index);
                });
            }

            function add() {
                layer.open({
                    content: "/Config/MenuFuntion/Add?menu_id=" + $("#menu_id").val(),
                    title: "添加",
                    area: ['40%', '60%'],
                    type: 2,
                    maxmin: true
                });
            }

            function edit(id) {
                layer.open({
                    content: "/Config/MenuFuntion/Edit?id=" + id,
                    title: "编辑",
                    area: ['40%', '60%'],
                    type: 2,
                    maxmin: true
                });
            }
        });
    </script>
</body>
</html>