@using System;
@using System.Data;
@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;
@using WeiCode.ModelDbs;
@using WeiCode.Domain;
@using Services.Project;
@using WeiCode.Models;

@model Services.Project.PageFactory.TableVO

<!-- 页面通用母版 -->
@{
    Layout = ModelBasic.PageModel.GetLayout();
}
<style>
    .layui-table td, .layui-table th, .layui-table-col-set, .layui-table-fixed-r,
    .layui-table-grid-down, .layui-table-header, .layui-table-page, .layui-table-tips-main,
    .layui-table-tool, .layui-table-total, .layui-table-view, .layui-table[lay-skin=line], .layui-table[lay-skin=row] {
        border-color: gray;
    }

    .layui-table th {
        text-align: center;
        font-weight: 700;
        font-size: 13px;
    }

    .layui-table td {
        font-size: 13px;
    }

    th, td {
        white-space: nowrap;
    }
</style>
<div class="layui-inline">
    <div class="layui-input-inline" style="margin-top:10px;margin-left:110px">
        @ViewModelBag.Load(Html, new ModelBasic.EmtTimeSelect("c_date", true)
        {
            title = "日期",
            defaultValue = ViewBag.c_date,
            mold = ModelBasic.EmtTimeSelect.Mold.date_range,

            eventJsChange = new EmtFormBase.EventJsChange
            {
                eventJavascript = new EventJavascript
                {
                    code = $"window.location.href = '/liveroom/manage/userate?c_date=' + page.c_date.value "
                },
            }
        })
    </div>
</div>
<div id="main_line" style="width: 100%;height:400px;"></div>
<script src="@UtilityStatic.ConfigHelper.GetConfigString("ResourceUrl")/other/echarts.min.4.3.0.js"></script>

<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main_line'));
    var totalNum = @ViewBag.totalNum
    // 指定图表的配置项和数据
    var dateArray =@Html.Raw(Json.Encode(ViewBag.dateArray));
  //  var dateArray = ["2025-10-14", "2025-10-15", "2025-10-16", "2025-10-17", "2025-10-18", "2025-10-19", "2025-10-20", "2025-10-21"];
    var type = "newNum"
    var useNum =@Html.Raw(Json.Encode(ViewBag.useNum));
    var noUseNum = @Html.Raw(Json.Encode(ViewBag.noUseNum));  
    // 指定图表的配置项和数据
    var option = {
        title: {
            text: "共：" + totalNum + "间,使用统计(当天不计入)",
            left: '50%',
            top: '20px',
            textAlign: 'center'
        },
        tooltip: {
            trigger: 'axis',
            axisPointer: {
                type: 'cross',
                label: {
                    backgroundColor: '#6a7985'
                }
            }
        },

        legend: {
            data: ['使用率(%)', '闲置率(%)'],
            selected: {
                '使用率(%)': true,
                '闲置率(%)': true
            }
        },
        xAxis: {
            data: dateArray
        },
        yAxis: {

        },
        series: [
            {
                name: '使用率(%)',
                type: 'line',
                data: useNum,
                label: {
                    show: true,
                    position: 'top'
                },
            }, {
                name: '闲置率(%)',
                type: 'line',
                data: noUseNum,
                label: {
                    show: true,
                    position: 'top'
                },
            }
        ]
    };

    // 使用刚指定的配置项和数据显示图表。
    myChart.setOption(option);
</script>
