@using WeiCode.Utility;
@using WeiCode.DataBase;
@using WeiCode.Services;

@using WeiCode.Domain;
@using WeiCode.Models;
@using WeiCode.ModelDbs;
@using Services.Project;

<!-- 页面通用母版 -->
@{ Layout = ModelBasic.PageModel.GetLayout(); }
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Page</title>
    <style>
        .layui-container {
            width: 80%; /* 宽度占视口的80% */
            text-align: center; /* 使内容水平居中 */
        }
    </style>
</head>
<body>
    @{
        string link = $"http://mx.qgxkt.doupeixun.cn/JoinNew/newcomer/Post?mx_sn=" + new UserIdentityBag().user_sn;
    }
    <div class="layui-container">
        <div>
            <h1>收集萌新信息</h1><br />
        </div>
        <div class="button-container">
            <span>方式一：发送收集链接给新人</span><br />
            <!-- 分享链接按钮 -->
            @ViewModelBag.Load(Html, new ModelBasic.EmtCopyText("link")
            {
                title = "分享链接",
                buttonStyle = ModelBasic.buttonStyle.按钮,
                defaultValue = link,
            })
        </div>
        <div>
            <br /><br /><br /><br />
        </div>
        <div class="img">
            <span>方式二：发送收集二维码给新人</span>
            <!-- 分享二维码按钮 -->
            @ViewModelBag.Load(Html, new ModelBasic.EmtQRCode("qrcode")
            {
                title = "分享二维码",
                type = ModelBasic.EmtQRCode.Type.QrCode,
                defaultValue = link,
                width = "200px",
                height = "200px",
            })
        </div>
    </div>
</body>
</html>
